.container {
  display: flex;
  justify-content: center;
  padding-top: 150px;

}


.content {
  background-color: #ddd;
  padding: 10px;

}

a {
  margin-right: 10px;
}


.sosmed {
  float: right;
}

img {
  float: right;
}

body {
  background-color: #f7f7f7 !important;
}